$phone-width: 320px;
$phone-button: 362px;
$tablet-width: 640px;
$desktop-width: 1280px;
$basic-font-color: rgb(179, 192, 178);

@mixin phones {
    @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width}) {
        @content;
    }
}

@mixin tablets {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) {
        @content;
    }
}

@mixin desktops {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

.skills {
    position: relative;

    // &::before {
    //     content: "";
    //     position: absolute;
    //     width: 99vw;
    //     height: 10vh;
    //     top: 0;
    //     left: 0;
    //     background-color: transparent;
    //     backdrop-filter: blur(3px);
    //     z-index: 1;
    // }

}